<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheatherly</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300"
    rel="stylesheet"
    type="text/css">
</head>
<body>
    <div class="container">
        <fieldset>
            <form action="/" method="post" autocomplete="off">
            <input type="text" name="city" placeholder="enter a city" required class="ghost-input">
            <input type="submit" id="submit" value="Get wheather" class="ghost-button">
            </form>
            <% if (weather!==null){%>
                <p><%= weather %></p>
                <% } %> <% if(error !==null ){%>
                    <p><%= error %></p>
                    <% } %>
    
        </fieldset>
    </div>
    
</body>
</html>